.cod__iconic-btn {
    width: auto;
    max-width: 100%;
    position: relative;
    transition: all .4s ease;
}
.cod__iconic-btn-container {
    text-align: center;
}
.cod__iconic-btn-container a {
    padding: 15px 80px 15px 80px;
    font-family: var(--font-oswald);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-golden);
    background-color: #02010100;
    background-image: url('../../assets/red_box.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease;
}
.cod__iconic-btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.cod__iconic-btn:hover a {
    color: #fff;
}
@media (max-width: 767px) {
    .cod__iconic-btn-container a {
        font-size:12px;
        letter-spacing: 2px;
    }
}