/*hero*/
.cod__hero {
    display: block;
    height: 100vh;
    position: relative;
    padding: auto 1px 6px 1px;
    overflow: visible;
}
.cod__hero-video {
    transition: opacity 1s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}
.cod__hero-content {
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1140px;
}
.cod__hero-txt {
    position: relative;
    min-height: 1px;
}
.cod__hero-video__src {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cod__iconic-btns {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

/*slogan*/
.cod__slogan-section {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.cod__slogan-container {
    max-width: 1140px;
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.cod__slogan-wrapper {
    width: 100%;
    animation-duration: 1.25s;
}
.cod__slogan-dragon-img{
    left: 55%;
    top: 23%;
    animation-name: ekit-left-right;
    opacity: 1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 1;
    position: absolute;
}
.cod__slogan-dragon-img img {
    width: 80%;
    transform: rotate(0deg);
    height: auto;
    overflow: visible;
    max-width: 100%;
}
.cod__dragon-egg{
    background-image: url(https://i0.wp.com/km21c6.n3cdn1.secureserver.net/wp-content/uploads/2023/02/background1.webp?fit=2121%2C550&ssl=1);
    background-position: center center;
    background-size: cover;
    margin-top: -200px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 3;
    overflow: visible;
    position: relative;
}
.cod__dragon-egg-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.cod__dragon-egg-wrapper {
    width: 100%;
    animation-duration: 1.25s;
    position: relative;
}
.cod__dragon-egg-content {
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.cod__dragon-egg-layout{
    text-align: center;
    width: 100%;
    position: relative;
}
.cod__dragon-egg-img{
    text-align: center;
}
.cod__dragon-egg-img img {
    width: 80%;
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.bg-overlay-1 {
    background-attachment: fixed;
    background-size: cover;
    background-color: #111;
    background-image: url(https://i0.wp.com/km21c6.n3cdn1.secureserver.net/wp-content/uploads/2023/02/red_background-scaled.webp?fit=2560%2C961&ssl=1);
}
.bg-overlay-2 {
    background-size: contain;
    background-image: url(https://i0.wp.com/km21c6.n3cdn1.secureserver.net/wp-content/uploads/2023/02/mountain.webp?fit=1400%2C600&ssl=1);

}
.bg-overlay-3 {
    background-size: contain;
    background-image: url(https://i0.wp.com/km21c6.n3cdn1.secureserver.net/wp-content/uploads/2023/02/dragon_village.webp?fit=1100%2C1100&ssl=1);

}
.bg-overlay-4 {
    background-image: url(https://i0.wp.com/km21c6.n3cdn1.secureserver.net/wp-content/uploads/2023/02/cave.webp?fit=1100%2C1100&ssl=1);
    background-size: contain;

}
.bg-overlay-5 {
    background-image: url(https://i0.wp.com/km21c6.n3cdn1.secureserver.net/wp-content/uploads/2023/02/dragon_dragonsegg.webp?fit=1100%2C1100&ssl=1);
    background-size: contain;
}
.bg-overlay-6 {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://i0.wp.com/km21c6.n3cdn1.secureserver.net/wp-content/uploads/2023/02/red_background-scaled.webp?fit=2560%2C961&ssl=1);
    background-size: cover;
}
.cod__mouse-based-layout {
    position: relative;
}
.cod-mouse-based-layout__container {
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.cod-mouse-based-layout__wrapper {
    position: relative;
    min-height: 1px;
    display: flex;
}
.cod-mouse-based-layout__content {
    justify-content: center;
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.cod-mouse-based-layout__layout {
    width: 100%;
    text-align: center;
    perspective: 1200px;
    position: relative;
}
.cod-mouse-based-layout__img {
    --rotateX: -9deg;
    --rotateY: 24.955deg;
    transform: rotateX(var(--rotateX))rotateY(var(--rotateY));
    margin: 100px 0px 100px 0px;

}
.cod-mouse-based-layout__img img {
    width: 50%;
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
        
}
/*Animations*/

@keyframes ekit-left-right {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-50%);
    }
}
/*RESPONSIVE*/

@media screen and (max-width: 1024px) {
    .cod__slogan-container {
        flex-wrap: wrap;
    }
    .cod__dragon-egg-container{
        flex-wrap: wrap;
    }
    .cod__hero-content {
         max-width: 1024px;
        flex-wrap: wrap;
    }
}
@media screen and (min-width:768px) and (max-width: 1368px) {
    .cod__hero {
        margin: 0 auto;
    }
    .cod__iconic-btns {
        margin:0px;
        display: block;
        
    }
    .cod__iconic-btn {
        margin-top: 30px;
    }
}
@media screen and (max-width: 767px) {
    .cod__iconic-btn {
        width: auto;
        max-width: 100%;
    } 
    .cod__hero {
        padding: 100px 10px 100px 10px;
        height: auto !important;
    }
    .cod__iconic-btn-container a {
        padding: 15px 50px 15px 50px !important;
        font-size: 12px;
    }
    .cod__hero-content {
        max-width: 767px;
    }
    .cod__slogan-dragon-img {
        left: 94px;
        top: 31px;
    }
    .cod__subheading {
        padding: 0px 10px 20px 10px;
    }
    .cod__subheading-title-container {
        margin: 50px 0px 0px 0px;
    }
    .cod__subheading-desc-container h2{
        font-size: 14px;
    }
    .cod__subheading-title-container h1{
        font-size: 35px;
    }
    .cod__same {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .cod__slogan-container {
        max-width: 767px;
    }
    .cod__slogan-wrapper {
        width: 100%;
    }
    .cod__slogan-section{
        height: auto;
    }
    .cod__dragon-egg {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 0px 0px 0px;
    }
    .cod__slogan__1 {
        margin-top: 0px;
        margin-bottom: -100px;
        padding: 0;
    }
    .cod__slogan__1 .cod__slogan-container {
        padding: 100px 0;
    }
    .cod__slogan__6  .cod__slogan-container{
        padding: 100px 0 100px 0;
    }
    .bg-overlay-1, .bg-overlay-6  {
        background-attachment: scroll;
    }
    .cod-mouse-based-layout__img img {
        width: 80%;
    }
}
@media (min-width: 768px) {
    .cod__hero {
        height: 100vh;
        position: relative;
    }
    .cod__hero-txt {
        width: 50%;
    }
    .cod-mouse-based-layout__wrapper {
        width: 100%;
    }
    .cod__hero-content {
        height: 100%;
    }
        .cs__important {
            padding: 0px 0px 100px 0px !important;
            justify-content: center;
        }
                .cod__iconic-btns {
                    margin: 40px;
                }
}
