.cod__subheading {
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.cod__subheading-title {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    animation-name: fadeInUp;
    animation-duration: 1.25s;
    position: relative;
}
.cod__subheading-title-container {
    text-align: center;
}
.cod__subheading-title__first{
    color: #fff;
    font-family: var(--font-odibee);
    font-weight: bold;
    font-size: 84px;
    line-height: 1em;
    letter-spacing: 3px;
}
.cod__subheading-title__base{
    color: #fff;
    font-family: var(--font-odibee);
    font-weight: bold;
    font-size: 60px;
    line-height: 1em;
    letter-spacing: 1px;
}
.cod__subheading-divider{ 
    color: var(--color-red);
    border-width: 3px;
    margin-bottom: 20px;
    width: 100%;
    animation-duration: 1.25s;
    position: relative;
}
.cod__subheading-divider-wrapper {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex; 
    color: var(--color-red); 
}
.cod__subheading-divider-wrapper span {
    border-top: 3px solid var(--color-red);
    width: 100px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
.cod__subheading-desc {
    text-align: center;
    width: 100%;
    animation-duration: 1.25s;
    position: relative;
}
.cod__subheading-desc-container {
    text-align: center;
}
.cod__subheading-desc-container h2 {
    color: #fff;
    font-family: var(--font-oswald);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

/**ANIMATION**/

/******** RESPONSIVE *********/
@media screen and (max-width: 767px) {
    .cod__subheading-title__base {
        font-size: 24px;
        line-height: 1em;
        letter-spacing: 1px;
    }
    .cod__subheading-desc-container h2 {
        font-size: 14px;
    }
}